<div id="<%= dom_id search %>">
  <p>
    <strong>Query:</strong>
    <%= search.query %>
  </p>

  <p>
    <strong>Count:</strong>
    <%= search.count %>
  </p>

  <p>
    <strong>Result count:</strong>
    <%= search.result_count %>
  </p>

</div>
